<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
        <div class="book-card">
            <h1>{{ book.title }}</h1>
            <a href={% url 'delete_book' book.pk %}>delete this book<a/>
            <h2>{{ book.authors }}</h2>
            <p>{{ book.pages}}</p>
            <p>{{ book.reviews.all }}</p>
            <p>{{ book.isbn }}</p>
            <p>{{ book.description }}</p>
        </div>
  </main>
</body>

</html>
