<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for book in books %}
      <div class="book-card">
        <a href={% url 'book_detail' book.pk %}>{{ book.title }}<a/>
        <a href={% url 'edit_book' book.pk %}>edit<a/>
        <p>{{ book.author }}</p>
        <p>{{ book.pages }}</p>
        <p>{{ book.isbn }}</p>
        <p>{{ book.description }}</p>
      </div>
    {% endfor %}
  </main>
</body>

</html>