<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
        <a href={% url "showmags" %}>Back to Magazine List</a>
    </nav>
  </header>
  <main>
        <div class="mag-card">
            <h1>{{ mag.title }}</h1>
       
            <h2>{{ mag.release_cycle }}</h2>
            <p>{{ mag.description}}</p>
            <p>{{ mag.image }}</p>
            {% for issue in mag.issues.all %}
              <p> Issue: {{ issue.title }}</p>
            {% endfor %}
        </div>
  </main>
</body>

</html>
