<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
        <a href={% url "showmags" %}>Back to Magazine List</a>
    </nav>
  </header>
  <main>
        <div class="mag-card">
            <h1>{{ genre.name }}</h1>
       
            {% for mag in genre.mags.all %}
              <p> Magazine: {{ mag.title }}</p>
            {% endfor %}
        </div>
  </main>
</body>

</html>
