<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
        <h1>Magazine List</h1>
    </nav>
  </header>
  <main>
    {% for mag in mags %}
      <div class="mag-card">
        <a href={% url 'mag_detail' mag.pk %}>{{ mag.title }}<a/>
        <a href={% url 'edit_mag' mag.pk %}>edit<a/>
        <p>{{ mag.title }}</p>
        <p>{{ mag.release_cycle }}</p>
        <p>{{ mag.description }}</p>
        <p>{{ mag.image }}</p>
      </div>
    {% endfor %}
  </main>
</body>

</html>